
html, body {height: 100%}

.app, .cart-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
  margin-top: 30px;
}

.home {
  background: #5aff4b;
  margin: 0;
  display: flex;
  flex-direction: row;
  position: inherit;
  height: 20%;
}

/*Carousel*/
.carousel-item {
  height: 350px;
  width: 900px;
}

.carousel-item > img {
  position: relative;
  width: 100%;
}

/*Item Window*/
.item-display-img {
  height: 159.97px;
}

/*User Cart*/
.cart-content {
  flex: 1;
  background: #ececec;
  margin-bottom: 20px;
  border-radius: 7px;
  padding: 30px;
}

.card-col {
  background: #ffffff;
}


.cart-item {
  padding: 15px;
  border-radius: 7px !important;
}

.cart-item-img {
  width: 220px;
  height: 100%;
}