
html, body {height: 100%}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

.home {
  background: #5aff4b;
  margin: 0;
  display: flex;
  flex-direction: row;
  position: inherit;
  height: 20%;
}

/*Carousel*/
.carousel-item {
  height: 350px;
  width: 900px;
}

.carousel-item > img {
  position: relative;
  width: 100%;
}

/*Item Window*/
.item-display-img {
  height: 159.97px;
}